<div class="panel">
  <div class="panel-header">
    <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['manage-user']">USER SETTINGS</button>
    <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['manage-group']"
      title="Manage Group">GROUP
      SETTINGS</button>
    <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['manage-link']"
      title="Manage Link">LINK
      SETTINGS</button>
  </div>
  <div class="panel-content">
    <router-outlet></router-outlet>
  </div>
</div>
