.top-header{
  height: 50px;
  background-image: linear-gradient(to right, #011365, #fe7e00);
  position: fixed;
  top: 0;
  width: 100%;
  // z-index: 1009;
  border-bottom: 1px solid rgba(192,192,192,0.3);
  padding: 7.5px 0;
  box-sizing: border-box;
  z-index: 1009;  

  @media (min-width: 992px){
    height: 100px;
    padding: 15px 0;
  }

  .left-brand{
    display: inline-block;

    img{
      height: 35px;
      margin-left: 45px;

      @media (min-width: 992px){
        height: 70px;
      }
    }

    h1{
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
      margin-top: 8px;
      margin-left: 60px;
      font-weight: normal;

      @media (min-width: 992px){
        font-size: 24px;
        margin-top: 19px;
      }
    }

  }

  .right-brand{
    float: right;
    margin-right: 15px;

    img{
      height: 35px;
      @media (min-width: 992px){
        height: 70px;
      }
    }    
  }
}

.navigation{
  background-image: linear-gradient(to right, #011365, #fe7e00);
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 1009;  

  @media (min-width: 992px){
    top: 100px;;
  }

  ul{
    margin: 0;
    display: flex;
    justify-content: center;

    li{
      display: inline-block;
      padding: 5px 0;
      font-size: 12px;

      @media (min-width: 992px){
        padding: 13px 0;
        font-size: 16px;
        font-weight: bold;
      }

      &:hover{
        cursor: pointer;
        background: rgba(14, 9, 14, 0.5);
      }

      img{
        width: 10px;
        margin-right: 7.5px;

        @media (min-width: 992px){
          width: 12px;
        }
      }
      
      a{
        text-decoration: none;
        color: white;
        padding: 5px 20px;

        @media (min-width: 992px){
          padding: 13px 20px;
        }
      }
    }
  }

}

// .content{
//   position: relative;
//   margin-top: 75px;
//   margin-left: 135px;
//   min-height: 355px;
//   box-sizing: border-box;
//   height: calc(100vh - 150px);
  
//   @media (min-width: 992px) and (max-width: 1919px){
//     margin-top: 145px;
//     min-height: calc(100vh - 250px);
//     margin-left: 289px;
//     height: calc(100vh - 290px);
//   }

//   @media (min-width: 1920px){
//     margin-top: 145px;
//     min-height: 0;
//     margin-left: 289px;
//     height: calc(100vh - 145px - 210px);
//   }

//   // height: calc(100vh - 145px - 210px);
// }