<div class="top-header">
  <div class="left-brand">
    <img src="assets/images/dylia_navbrand.png" alt="DYLIA">
    <h1 class="text-white">Dynamic Line Access Management System</h1>
  </div>
  <div class="right-brand">
    <a href="https://www.tm.com.my/Pages/Home.aspx" title="TM Homepage" target="_blank">
      <img src="assets/images/TM_tagline_w.png" alt="TM">
    </a>
  </div>
</div>

<nav class="navigation">
  <ul>
    <li>
      <a class="navicon" [routerLink]="['/copper']">
        <img src="assets/images/navicon/dashboard.png" />
        <span class="m-l-10">DASHBOARD</span>
      </a>
    </li>
    <!-- <li>
      <a class="navicon" [routerLink]="['/report']">
        <img src="assets/images/navicon/report.png" />
        <span class="m-l-10">REPORT</span>
      </a>
    </li> -->
    <li *ngIf="allowMgmt">
      <a class="navicon" [routerLink]="['/management']">
        <img src="assets/images/navicon/management.png" />
        <span class="m-l-10">MANAGEMENT</span>
      </a>
    </li>
    <!-- <li *ngIf="allowSearch">
      <a class="navicon" [routerLink]="['/search']" title="Search">
        <img src="assets/images/navicon/search.png" />
        <span class="m-l-10">SEARCH</span>
      </a>
    </li>
    <li>
      <a class="navicon" [routerLink]="['/announcement']">
        <img src="assets/images/navicon/announcement.png" />
        <span class="m-l-10">ANNOUNCEMENT</span>
      </a>
    </li> -->
    <li>
      <a class="navicon" (click)="logout()" title="Alert Management" href="javascript:void(0)">
        <img src="assets/images/navicon/logout.png" />
        <span class="m-l-10">LOGOUT</span>
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- <div class="content">
</div> -->
