.service-tabs{
  ::ng-deep .mat-tab-label{
    color: gray;
    background-color: black;
    opacity: 1;
    // border-right: 1px solid gray;

    &-active{
      color: white;
    }

    &-container{
      background: black;
    }
  }

  .toggle-type{
    button{
      color: white;

      &:not(:first-child) {
        border-left: 1px solid white;
      }
    }
  }
}



// .mat-tab-label-container .mat-tab-label {
//   color: gray;
//   background-color: black;
//   opacity: 1;
//   border-right: 1px solid gray;
// }