<div class="content-top">
  <div class="container position-relative">
    <app-navpanel [shape_id_data]="shape_id_data"></app-navpanel>
    <div class="">
      <div class="panel m-t-15 m-b-15">
        <div class="panel-header text-white">Network Details Info</div>
        <div class="panel-dark">
          <!-- <div class="">
              <span id="cabinet-info-1" class="text-white">Cable Bundle</span>
              <select class="select-rounded m-l-15" [(ngModel)]="selectedCable" (change)="selected(selectedCable)">
                <option *ngFor="let x of cable_bundle">{{x.cable_code}}</option>
              </select>
            </div> -->
          <div class="content--flex">
            <div class="equipment-info">
              <ul id="cabinet-info-2" class="equipment-info--list list-unstyled m-t-0">
                <li>Condition <span><i class="fa fa-circle fa-lg mr-10 {{colorCond}}"></i>
                    {{info_condition | uppercase}}</span></li>
                <li>Equipment <span>{{info_equipment}}</span></li>
                <li>Vendor <span>{{info_vendor}}</span></li>
                <li>Customer Profile <span matTooltip={{info_current_profile}}>{{info_curr_profile}}</span></li>
                <li>Service ID <span>{{info_service_id}}</span></li>
                <!-- <li>Network Profile <span data-toggle="tooltip"
                      title={{info_previous_profile}}>{{info_prev_profile}}</span></li> -->
                <li>Login ID <span>{{info_unifi_id}}</span></li>
                <li>Card Model <span>{{info_card_model}}</span></li>
              </ul>
            </div>
            <div id="cabinet-info-3" class="fault-illustration">

              <div class="fault-illustration--content">
                <ul class="equipment-info--list list-unstyled">
                  <li>From <span>{{info_from}}</span></li>
                  <li class="text-right">To <span>{{info_to}}</span></li>
                </ul>
                <img src="../assets/images/arrow.png">
              </div>

              <div class="fault-visual">
                <div class="image"><img src="../assets/images/resultpagenodeicon.png"></div>
                <div class="red-line"></div>
                <div class="image"><img src="../assets/images/resultpagecabineticon.png"></div>
                <div class="red-line">
                  <div class="fault-count" data-toggle="modal" data-target="#fNModal">{{fault_no}}</div>
                </div>
                <div class="image"><img src="../assets/images/resultpagehomeicon.png"></div>
              </div>

              <div class="fault-illustration--exec">
                <div id="network-info-4" class="fault-check fault-illustration--action">
                  <button type="button" class="button-rounded button-rounded--orange button-rounded--small"
                    (click)="getLineTest()"><strong>LINE
                      TEST</strong></button>
                  <button type="button" class="button-rounded button-rounded--orange button-rounded--small m-t-5"
                    disabled><strong>OPTIMIZATION</strong></button>
                  <button type="button" class="button-rounded button-rounded--orange button-rounded--small m-t-5"
                    disabled>SELT</button>
                </div>

                <div class="fault-check fault-illustration--result">
                  <ul class="list-unstyled text-white m-t-0">
                    <li>Max. Attainable Rate
                      <span>US: {{Max_Attainable_Rate_up}}</span>
                      <span>DS: {{Max_Attainable_Rate_dw}}</span>
                    </li>
                    <li>SNR Margin
                      <span>US: {{SNR_Margin_up}}</span>
                      <span>DS: {{SNR_Margin_dw}}</span>
                    </li>
                    <li>Attenuation
                      <span>US: {{Attenuation_up}}</span>
                      <span>DS: {{Attenuation_dw}}</span>
                    </li>
                    <li>Last update
                      <span>{{str_last_update}}</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div *ngIf="no_data">
                <p class="text-red text-bold">***Data Not Available (Source : NIS & NEPS)</p>
              </div>

            </div>
          </div>
        </div>
        <div class="panel-content panel-dark p-0">
          <mat-tab-group class="service-tabs">
            <mat-tab label="Graph & Result">
              <div class="panel-content panel-dark content--flex">
                <div id="service-info-5" class="panel-content--checkbox">
                  <table class="table-round table-orange">
                    <mat-radio-group class="radio radio-graph" [(ngModel)]="pType" (change)="paramType()">
                      <thead>
                        <tr>
                          <th>Parameter</th>
                          <th>Select</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>SNR Margin</td>
                          <td>
                            <mat-radio-button value="1"></mat-radio-button>
                          </td>
                        </tr>
                        <tr>
                          <td>Signal Attenuation</td>
                          <td>
                            <mat-radio-button value="2"></mat-radio-button>
                          </td>
                        </tr>
                        <tr>
                          <td>Attainable Rate</td>
                          <td>
                            <mat-radio-button value="3"></mat-radio-button>
                          </td>
                        </tr>
                        <tr>
                          <td>Insulation Resistance</td>
                          <td>
                            <mat-radio-button value="4"></mat-radio-button>
                          </td>
                        </tr>
                        <tr>
                          <td>Capacitance Resistance</td>
                          <td>
                            <mat-radio-button value="5"></mat-radio-button>
                          </td>
                        </tr>
                      </tbody>
                    </mat-radio-group>
                  </table>
                </div>
                <div class="panel-content--chart">
                  <p class="text-white text-small" [innerHTML]="gTitle"></p>

                  <div id="graphbutton" class="toggle-type">
                    <button mat-button class="button-unstyled" (click)="lgType_daily()">24 Hour</button>
                    <button mat-button class="button-unstyled" (click)="lgType_weekly()">Weekly</button>
                    <button mat-button class="button-unstyled" (click)="lgType_monthly()">Monthly</button>
                  </div>

                  <div>
                    <p class="text-white text-xsmall p-t-20" [innerHTML]="notes"></p>
                  </div>

                  <div [hidden]="!linechart">
                    <canvas id="canvas">{{chart}}</canvas>
                  </div>

                  <table class="table-round table-orange daily table-graph m-t-15" *ngIf="dailyT">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th [innerHTML]="dTitle1"></th>
                        <th [innerHTML]="dTitle2"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{dateCurr}}</td>
                        <td>{{sUppCurr}} {{unit}}</td>
                        <td>{{sDwnCurr}} {{unit}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table-round table-orange daily table-graph m-t-15" *ngIf="dailyIrCr">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Resistance t-r (MELT)</th>
                        <th>Resistance t-gnd (MELT)</th>
                        <th>Resistance r-gnd (MELT)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{dateCurr}}</td>
                        <td>{{rab}} {{unit}}</td>
                        <td>{{rag}} {{unit}}</td>
                        <td>{{rbg}} {{unit}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </mat-tab>
            <mat-tab label="Customer Trouble Ticket (CTT) History">
              <div class="panel-content panel-dark">
                <span class="text-white">CTT History List</span>

                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>

                <table mat-table #table [dataSource]="dataSource"
                  class="mat-elevation-z8 table-round table-dark m-t-10">

                  <ng-container matColumnDef="date_time">
                    <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.date_time}} </td>
                  </ng-container>

                  <ng-container matColumnDef="tt_no">
                    <th mat-header-cell *matHeaderCellDef> TT No. </th>
                    <td mat-cell class="text-black" *matCellDef="let element"> {{element.tt_no}} </td>
                  </ng-container>

                  <ng-container matColumnDef="snr_up">
                    <th mat-header-cell *matHeaderCellDef> SNR Up </th>
                    <td mat-cell *matCellDef="let element"> {{element.snr_up}} </td>
                  </ng-container>

                  <ng-container matColumnDef="snr_down">
                    <th mat-header-cell *matHeaderCellDef> SNR Down </th>
                    <td mat-cell *matCellDef="let element"> {{element.snr_down}} </td>
                  </ng-container>

                  <ng-container matColumnDef="system_code">
                    <th mat-header-cell *matHeaderCellDef> Symptom Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.symptom_code}} </td>
                  </ng-container>

                  <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef> Remark </th>
                    <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                  </ng-container>

                  <ng-container matColumnDef="attend">
                    <th mat-header-cell *matHeaderCellDef> Attend </th>
                    <td mat-cell *matCellDef="let element"> {{element.attend}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <mat-paginator class="m-t-15" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                </table>

                <ng-container *ngIf="!showTable">
                  <div class="table-round-empty-dark">Data not Available</div>
                </ng-container>

              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <!-- <div class="modal fade" id="fCModal" role="dialog" *ngIf="modalF">
        <div class="modal-dialog modal-full">
          <div class="modal-content modal-content-transparent modal-fault-tabs">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <mat-tab-group>
              <mat-tab label="Current Condition">
                <div class="modal-table modal-dark">
                  <table class="table table-modal text-small">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Fault Location (m)</th>
                        <th>Fault Detection Type</th>
                        <th>Segment</th>
                        <th>Affected DP</th>
                        <th>Cable Code</th>
                        <th>Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template [ngIf]="cCond_check != 0" [ngIfElse]="tableEmpty">
                        <tr *ngFor="let x of cCond">
                          <td>{{x.num}}</td>
                          <td>
                            <button type="button" class="btn btn-block btn-dark">{{x.location_m}}m</button>
                          </td>
                          <td>{{x.fault_type}}</td>
                          <td>{{x.segment}}</td>
                          <td>
                            <select class="select-rounded select-rounded-light">
                              <option>{{x.element_id}}</option>
                            </select>
                          </td>
                          <td>{{x.cable_code}}</td>
                          <td>{{x.remark}}</td>
                        </tr>
                      </ng-template>
                      <ng-template #tableEmpty>
                        <tr>
                          <td colspan="7">Data Not Available</td>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </mat-tab>
              <mat-tab label="Prediction">
                <div class="modal-table modal-dark">
                  <table class="table table-modal text-small">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Fault Location (m)</th>
                        <th>Fault Detection Type</th>
                        <th>Segment</th>
                        <th>Affected DP</th>
                        <th>Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template [ngIf]="cCond_check != 0" [ngIfElse]="tableEmpty">
                          <tr *ngFor="let x of cCond">
                            <td>{{x.num}}</td>
                            <td>
                              <button type="button" class="btn btn-block btn-dark">{{x.fault_location}}m</button>
                            </td>
                            <td>{{x.fault_identification}}</td>
                            <td>{{x.segment}}</td>
                            <td>
                              <select class="select-rounded select-rounded-dark">
                                <option *ngFor="let x of cCondAffDP">{{x.affected_dp1}}</option>
                              </select>
                            </td>
                            <td>{{x.remark}}</td>
                          </tr>
                        </ng-template>
                        <ng-template #tableEmpty>
                      <tr>
                        <td colspan="6">Data Not Available</td>
                      </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
  
      <div id="alert" class="modal fade" role="dialog">
        <div class="modal-dialog-alert">
          <div class="modal-content">
            <div class="modal-header-alert">
              <button type="button" class="close p-t-5 p-r-5" data-dismiss="modal">&times;</button>
              <p class="modal-title p-t-5">Error</p>
            </div>
            <div class="modal-body">
              <p>{{data_remark}}</p>
            </div>
          </div>
        </div>
      </div> -->

    <!-- <mat-spinner class="progress-spinner" *ngIf="progressSpinner"></mat-spinner> -->

  </div>
</div>
