.button{
  &-rounded{
    width: 160px;
    color: white;
    background-image:linear-gradient(#203f84, black);
    padding: 10px 0;
    border-radius: 30px;
    border: 0;

    &--padded{
      border: 2px solid #1d3979;
    }

    &:hover{
      background-image:linear-gradient(black,#203f84);
      cursor: pointer;
    }

    &:focus{
      outline-color: transparent;
    }

    &--small{
      font-size: 10px;
      width: auto;
      padding: 10px 15px;
    }

    &--orange{
      background-image: none;
      background: #d96f0e;

      &:hover{
        background: #c0630e;
      }

      &[disabled]{
        opacity: .5;
      }
    }
  }

  &-unstyled{
    border: 0;
    background: 0;
  }

  &-circle{
    font-size: 12px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 0;
    color: white;

    &--orange{
      background: #d96f0e;

      &:hover{
        background: #c0630e;
        cursor: pointer;
      }
    }
  }
}

