.my-0{
  margin-bottom: 0;
  margin-top: 0;
}

.p-0{
  padding: 0 !important;
}

.text{
  &-white{ color: white !important; }
  &-orange { color: #D96F0E !important; }
  &-right { text-align: right !important; }
  &-red { color: #ED1C24; }
  &-grey { color: grey; }
  &-black { color: black; }
  &-green { color: green; }
  &-yellow { color: #f7d64b; }
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.position-relative{
  position: relative !important;
}

.content{
  &-top{
    position: relative;
    padding-top: 75px;    
    min-height: 355px;
    box-sizing: border-box;
    height: calc(100vh - 150px);
    width: 100%;
    
    @media (min-width: 992px) and (max-width: 1919px){
      padding-top: 145px;
      min-height: calc(100vh - 250px);
      height: calc(100vh - 290px);
    }
    
    @media (min-width: 1920px){
      padding-top: 145px;
      min-height: 0;
      height: calc(100vh - 145px - 210px);
    }
  }

  &-margin{
    margin-top: 75px;

    @media (min-width: 992px){
      margin-top: 145px;
    }
  }

  &-bottom{
    margin-top: 105px;

    @media (min-width: 1920px){
      margin-top: 210px;
    }
  }

  &-push--right{
    margin-left: 135px;

    @media (min-width: 992px) and (max-width: 1919px){
      margin-left: 289px;
    }
    
    @media (min-width: 1920px){
      margin-left: 289px;
    }
  }
}

.cdk-overlay{
  &-container{
    z-index: 1010;
  }

  &-pane{
    height: auto !important;
  }
}


// Material dialog form //
.mat-dialog{
  &-container{
    padding: 0 !important;
    border-radius: 15px !important;

    @media (min-width: 992px){
      margin-top: 0 !important;
    }
  }

  &-title{
    padding: 15px;
    margin: 0 !important;
    color: #fff;
    background-image: linear-gradient(to right, #000000, #fe7e00);
  }

  &-content{
    overflow: unset;
    margin: 0 !important;
    padding: 24px !important;
    max-height: unset;

    .form-input{
      label{
        display: inline-block;
        width: 85px;
        margin-right: 15px;
        text-align: right;
        font-size: 14px;
        font-weight: bold;
      }

      .form-field{
        width: 300px;
        font-size: 14px;
      }

      &-error {
        font-size: 11px;
        font-weight: normal;
        text-align: center;
        margin-top: -12px;
      }
    }

    .dialog-action{
      margin-top: 15px;
      text-align: right;
    }      
  }
}