.select-rounded {
  width: 100%;
  max-width: 125px;
  background: black;
  border: 1px solid white;
  color: white;
  border-radius: 30px;

  &-light {
    background: transparent;
    color: black;
    border: 1px solid black;
  }
}

.content--flex{
  @media (min-width: 1200px){
    display: flex;
  }
}

.equipment-info{
  display: flex;

  @media (min-width: 1200px){
    display: block;
    width: 380px;
  }

  &--list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    li {
      width: 50%;
      color: white;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.4;
  
      span {
        display: block;
      }
    }
  
    &-lineTest {  
      li {
        width: 25%;
      }
  
    }
  }
}

.fault-illustration{

  @media (min-width: 1200px){
    width: calc(100% - 380px);
  }

  &--content {
    position: relative;
    padding: 0 15px;
    margin-bottom: 20px;
  
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--exec{
    display: flex;    
  }

  &--action{
    width: 125px;

    button{
      width: 100%;
    }
  }

  &--result{
    width: 100%;
    ul{
      display: flex;
      li{
        width: 25%;
        font-size: 14px;
        span{
          display: block;
        }
      }
    }
  }
}

.fault-visual {
  div {
    display: inline-block;
  }

  .image {
    img {
      margin: 0 10px;
    }
  }

  .red-line {
    width: calc(50% - 95px);
    height: 2px;
    background: #FD7E00;
    position: relative;

    .fault-count {
      color: white;
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      border: 2px solid #FD7E00;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 1.8;

      &:after {
        content: '';
        border: 1px solid #FD7E00;
        position: absolute;
        height: 10px;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.fault-check {
  margin: 15px;

  &-update {
    width: calc(100% - 185px);
    span {
      display: block;
      &:last-child {
        margin-right: 60px;
      }
    }
  }

  &-update-cabinet {
    width: calc(100% - 40px);
    span {
      display: block;

      &:last-child {
        margin-right: 0px;
      }
    }
  } 
}