// Leaflet
.leaflet-top .leaflet-control{ 
  margin-top: 50px; 

  @media (min-width: 1920px){
    margin-top: 70px; 
  }
}

.leaflet-popup-content-wrapper { text-align: center; }

// Checkbox
.checkbox-label {
  position: absolute;
  z-index: 1008;
  top: 50px;
  right: 10px;

  @media (min-width: 1920px){
    top: 70px; 
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  label {
    font-size: 11px;
    vertical-align: middle;
    padding-left: 5px;

    @media (min-width: 1920px){
      font-size: 14px;
    }
  }

  .mat-expansion{    
    &-panel{
      border-radius: 15px;
      
      &-header{
        background: black !important;
        opacity: 0.8;
        border-radius: 15px;

        &-title{
          color: white;
          font-size: 11px;

          @media (min-width: 1920px){
            font-size: 14px;
          }
        }
      }
      
      &-body{
        padding: 5px;
      }
    }

    &-indicator{
      &:after{
        color: white;
      }
    }
  }
}