// Management module panel //
.panel{
  border-radius: 15px;
  box-shadow: 0px 5px 10px -5px grey;

  &-header{
    background: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 15px;

    &--square{
      border-radius: 0;
    }
    
    button{    
      color: #7a6a6a;
      font-weight: bold;

      &.active-link{
        color: white;
      }
      
      &:not(:first-child){
        border-left: 1px solid white;
      }
    }
  }

  &-content{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    // padding: 15px;
    
    &--chart{
      width: 100%;
    }
  }

  &-action{
    padding: 15px;    

    span{
      font-size: 12px;
      margin: 0 5px;
      padding-right: 5px;
    }

    .filter{
      display: inline-block;
      font-size: 12px;

      .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
      }

      &-dropdown{
        .mat-form-field-infix{
          padding: 2px 0px 7px 0px;
          width: 150px;
        }
      }

      &-search{
        // margin-left: 15px;
        float: right;

        .mat-form-field-infix{
          padding: 2px 20px 7px 0px;         
          width: 150px;         

          input + i{
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      
    }
  }  

  &-table{
    table{
      width: 100%;        
    }

    th.mat-header-cell{
      background: black;
      color: white;
    }

    tr{
      &.mat-header-row{
        height: 40px;
      }

      &.detail-row {
        height: 0;
      }
    }

    .mat-sort-header-container{
      justify-content: center;
    }

    .data{
      &-detail{
        overflow: hidden;
        padding: 5px;
        border-top: 1px solid rgba(0,0,0,.12);
        font-size: 12px;
      }

      &-row td{
        // border-bottom-width: 0;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
      }
    }
  }



  &-dark{
    background:#212121;
    padding: 15px; 
  }
}