// mat styling
.table-round {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px #878686;
  border-bottom: 0 !important;
  font-size: 12px;
  width: 100%;

  &-empty {

    box-shadow: 0px 0px 15px 1px #878686;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;

  }

  &-empty-dark{
    @extend .text-white;
    box-shadow: 0px 0px 15px 1px black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    text-align: center;
  }

  tr{
    &.even{
      background: #f2f2f2;
    }

    &:nth-child(even) {
      background: #f2f2f2;
    }

    th,
    td {
      border: 0;
      text-align: center;

      &.mat-cell{
        font-size: 12px;

        @media (min-width: 1920px){
          font-size: 14px;
        }
      }

      &:not(:first-child) {
        border-left: 1px solid white
      }

      .btn-orange {
        font-size: 12px;
        color: white;
        padding: 6px 20px;

        &:hover {
          background: #c0630e;
        }
      }
    }

    &:first-child {
      th {
        &:first-child {
          border-top-left-radius: 20px;
        }

        &:last-child {
          border-top-right-radius: 20px;
        }
      }
    }

    &:last-child {
      td {
        &:first-child {
          border-bottom-left-radius: 20px;
        }

        &:last-child {
          border-bottom-right-radius: 20px;
        }
      }
    }
  }

  thead {
    background: black;
  }

  &.table-dark{
    width: 100%;
    box-shadow: 0px 0px 15px 1px black;

    &.mat-table {
      background: none;
    }

    tr{
      &:nth-child(even){
        background: black;
      }

      &:nth-child(odd){
        background: #212121;
      }
  
      th, td {
        border: 0;
        text-align: center;
  
        &:not(:first-child){
          border-left: 1px solid black;
        }
      }

      th {
        @extend .text-orange;
        background: black;
        font-weight: bold;
      }

      td {
        @extend .text-white;
        border-top: 0 !important;
      }
    }

    th,
    td {
      &:not(:first-child) {
        border-left: 1px solid black
      }
    }
  }

  &.table-orange {
    box-shadow: 0px 0px 15px 1px black;

    thead {
      background: #c0630e;
    }

    tr {

      &:nth-child(even) {
        background: #383A3B;
      }

      &.odd {
        background: #212121;
      }

      &:hover {
        background-color: 0 !important;
      }

      th {
        min-width: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        @extend .text-white;
      }

      td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        @extend .text-white;
        border-top: 0 !important;
      }

    }

    th,
    td {
      &:not(:first-child) {
        border-left: 1px solid black
      }
    }

    &.table-graph {
      margin-top: 50px !important;
    }

  }

  .column-status {
    &.Good {
      color: #8bb462;
    }

    &.Caution {
      color: #f7d64b;
    }

    &.Unstable {
      color: #ff5858;
    }

    &.Failure {
      color: #5c5c5c;
    }
  }

}