.tab-links{
  
  z-index: 1001;
  width: 100%;
  padding: 5px 20px;
  
  box-sizing: border-box;

  @media (min-width: 1920px){
    padding: 8px 0 8px 50px;
  }

  // 8px 0 8px 50px

  &-black{
    background: black;
    opacity: 0.8;
    width: calc(100% - 135px);
    top: 10px;
    position: absolute;

    @media (min-width: 992px){
      width: calc(100% - 290px);
    }

    .wilayah-return{
      color: white;

      &-2{
        // left: 415px;
        border-left: 0.5px solid white !important;
      }
    }
  }

  ul{
    background: #d9d9d9;
    border-radius: 30px;
    // width: 420px;
    width: 300px;
    padding: 2px 0;
    margin: 0;
    box-shadow: 0px 0px 10px 0px black;
    text-align: center;

    @media (min-width: 1920px){
      width: 420px;
    }

    li{

      width: 150px;
      display: inline-block;
      list-style: none;
      font-size: 10px;
      padding: 5px 0;
      border-radius: 30px;

      @media (min-width: 1920px){
        font-size: 12px;
        padding: 10px 0;
        width: 210px;
      }

      &.active{
        background: #d96f0e;

        a{
          color: white;
        }
      }

      a{
        color: #b2b2b2;
        text-transform: uppercase;

        &:hover{
          text-decoration: none;   
        }
      }
    }
  }

  &.tab-links-alt{
    ul{
      // width: 420px;
      padding: 0;
      display: inline-block;
      background: white;

      li{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:nth-child(2){
          a{
            color: black;
          }
        }
      }
    }
  }

  .wilayah-return{
    background: none;
    border: 0;
    padding: 0 5px;
    font-size: 10px;

    @media (min-width: 1920px){
      padding: 0 15px;
    }

    &-2{
      // left: 415px;
      border-left: 0.5px solid black;
    }
  }

  &-return{
    position: relative;
    display: inline-block;
  }

}

// .help-button{
//   float: right;
//   margin-right:25px; 
//   margin-top: 10px;
//   color:grey;
// }