<div class="tab-links tab-links-alt" [ngClass]="black()">
  <ul class="text-center">
    <li class="active text-white">
      <strong>{{network_element}}</strong>
    </li>
    <li>
      <strong>{{location_desc}}</strong>
    </li>
  </ul>
  <a *ngIf="showHelpButton" class="help-button" href="javascript:void(0);" (click)="onClickMe($event)"><i
      class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
  <div class="tab-links-return" id="map-nav-1">
    <button *ngIf="showWilayah" class="wilayah-return" (click)="returnToWilayah();">{{wilayah}}</button>
    <button *ngIf="showZone" class="wilayah-return wilayah-return-2" (click)="returnToZone();">{{zone}}</button>
    <button *ngIf="showNode" class="wilayah-return wilayah-return-2" (click)="returnToNode();">{{node}}</button>
    <button *ngIf="showCabinet" class="wilayah-return wilayah-return-2"
      (click)="returnToCabinet();">{{cabinet}}</button>
    <button *ngIf="showCabinet" class="wilayah-return wilayah-return-2" (click)="returnToDp();">{{dp}}</button>
  </div>
</div>
