<div class="content-top content-margin">
  <app-sidebar></app-sidebar>
  <div class="content-push--right">
    <app-navpanel [shape_id_data]="shape_id_data"></app-navpanel>
    <div class="map-container">
      <div id="leaflet_map"></div>
    </div>
    <mat-accordion class="checkbox-label">
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
          <mat-panel-title>
            View Marker
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul id="nod-1">
          <li>
            <input name="Exc" type="checkbox" [(ngModel)]="checkboxExc" (change)="checkExc(checkboxExc?'A':'B')" />
            <label for="Exc">Node</label>
          </li>
          <li>
            <input name="boundary" type="checkbox" [(ngModel)]="checkboxboundary"
              (change)="checkboundary(checkboxboundary?'A':'B')" />
            <label for="boundary">Boundary</label>
          </li>
          <li>
            <input name="cabinet" type="checkbox" [(ngModel)]="checkboxCabinet"
              (change)="checkCabinet(checkboxCabinet?'A':'B')" />
            <label for="cabinet">Cabinet</label>
          </li>
          <li>
            <input name="msan" type="checkbox" [(ngModel)]="checkboxMsan" (change)="checkMsan(checkboxMsan?'A':'B')" />
            <label for="msan">IPMSAN</label>
          </li>
          <li>
            <input name="Dslam" type="checkbox" [(ngModel)]="checkboxDslam"
              (change)="checkDslam(checkboxDslam?'A':'B')" />
            <label for="Dslam">DSLAM</label>
          </li>
          <li>
            <input name="Rt" type="checkbox" [(ngModel)]="checkboxRt" (change)="checkRt(checkboxRt?'A':'B')" />
            <label for="Rt">RT</label>
          </li>
          <li>
            <input name="manhole" type="checkbox" [(ngModel)]="checkboxManhole"
              (change)="checkManhole(checkboxManhole?'A':'B')" />
            <label for="manhole">Manhole</label>
          </li>
          <li>
            <input name="cableD" type="checkbox" [(ngModel)]="checkboxCableD"
              (change)="checkCableD(checkboxCableD?'A':'B')" />
            <label for="cableD">Copper-D</label>
          </li>
          <li>
            <input name="cableE" type="checkbox" [(ngModel)]="checkboxCableE"
              (change)="checkCableE(checkboxCableE?'A':'B')" />
            <label for="cableE">Copper-E</label>
          </li>
          <li>
            <input name="cableFibbauE" type="checkbox" [(ngModel)]="checkboxCableFibbauE"
              (change)="checkCableFibbauE(checkboxCableFibbauE?'A':'B')" />
            <label for="cableFibbauE">Fiber BAU-E</label>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
    <app-statuspanel [shape_id_data]="shape_id_data" [total_network_element]="total_cabinet"></app-statuspanel>
  </div>
</div>

<div class="container">
  <div class="content-bottom">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-round" id="nod-2">
      <ng-container matColumnDef="cabinet_list">
        <th mat-header-cell *matHeaderCellDef class="text-white"> Cabinet List </th>
        <td mat-cell *matCellDef="let element"> {{element.cab_id}} </td>
      </ng-container>

      <ng-container matColumnDef="cabinet_type">
        <th mat-header-cell *matHeaderCellDef class="text-white"> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.cab_type}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-white"> Status </th>
        <td mat-cell *matCellDef="let element">
          <div class="column-status" [ngClass]="element.status">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="service_length">
        <th mat-header-cell *matHeaderCellDef class="text-white"> No. of Service </th>
        <td mat-cell *matCellDef="let element"> {{element.no_of_service}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="opt_summary">
        <th mat-header-cell *matHeaderCellDef class="text-white" [hidden]> Opt Summary </th>
        <td mat-cell *matCellDef="let element"> {{element.opt_summary}} </td>
      </ng-container>

      <ng-container matColumnDef="prediction">
        <th mat-header-cell *matHeaderCellDef class="text-white" [hidden]> Prediction </th>
        <td mat-cell *matCellDef="let element"> {{element.prediction}} </td>
      </ng-container> -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-white"> Action <a class="help-button"
            href="javascript:void(0);" (click)="onClickMe($event)"><i class="fa fa-lightbulb-o"
              aria-hidden="true"></i></a></th>
        <td mat-cell *matCellDef="let element">
          <button class="button-rounded button-rounded--orange" [class.button-rounded--small]="isTrue"
            (click)="redirectHandler(element.cab_id)">Cabinet Location</button>
          <button class="button-rounded button-rounded--orange m-l-10" [class.button-rounded--small]="isTrue"
            (click)="redirectHandler2(element.cab_id)">Details
            Info</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="m-t-15" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
