<h1 mat-dialog-title>Special Privilege for {{data.staff_id}}</h1>
<div mat-dialog-content>
  <div class="form-detail">
    <div class="table-canvas">
      <table mat-table [dataSource]="data.tablestaffpages">
        <ng-container matColumnDef="access_pages">
          <th mat-header-cell *matHeaderCellDef class="tableHead"> Accessible Pages </th>
          <td class="multiselect" mat-cell *matCellDef="let page; let i = index; let row" (click)="selectPages(row)">
            {{page.page_desc}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsAccess"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsAccess;" (click)="selectedPage = row"
          class="data-row multiselect-row" [ngClass]="{ 'selected': row === selectedPage }"></tr>
      </table>
    </div>

    <div class="table-canvas">
      <table mat-table [dataSource]="data.tableallpages">
        <ng-container matColumnDef="all_pages">
          <th mat-header-cell *matHeaderCellDef class="tableHead"> Available Pages </th>
          <td class="multiselect" mat-cell *matCellDef="let page; let row" (click)="selectAllPages(row)">
            {{page.page_desc}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsAllPages" [ngClass]="{tableHead: true}"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsAllPages;" (click)="selectedPage = row"
          class="data-row multiselect-row" [ngClass]="{ 'selected': row === selectedPage }"></tr>
      </table>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data">SAVE</button>
    <button mat-button (click)="cancelClicked()">CANCEL</button>
  </div>
</div>