<h1 mat-dialog-title>{{data.addEditUser}} User</h1>
<div mat-dialog-content>
  <form novalidate #userform="ngForm">
    <div class="form-detail">
      <div class="form-input">
        <label>ID</label>
        <mat-form-field class="form-field">
          <input matInput name="staff_id" [(ngModel)]="data.staff_id" pattern="[a-zA-Z0-9]*" required #formid="ngModel">
        </mat-form-field>
        <div class="form-input-error" *ngIf="formid.invalid && (formid.dirty || formid.touched)">
          <mat-error *ngIf="formid.errors.required">Staff ID is required</mat-error>
          <mat-error *ngIf="formid.errors.pattern">Special character is not allowed</mat-error>
        </div>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>Name</label>
        <mat-form-field class="form-field">
          <input matInput name="staff_name" [(ngModel)]="data.staff_name" pattern="[a-zA-Z ]*" required
            #formname="ngModel">
        </mat-form-field>
        <div class="form-input-error" *ngIf="formname.invalid && (formname.dirty || formname.touched)">
          <mat-error *ngIf="formname.errors.required">Staff name is required</mat-error>
          <mat-error *ngIf="formname.errors.pattern">Special character is not allowed</mat-error>
        </div>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>E-mail</label>
        <mat-form-field class="form-field">
          <input matInput name="email" [(ngModel)]="data.email" email required #formemail="ngModel">
        </mat-form-field>
        <div class="form-input-error" *ngIf="formemail.invalid && (formemail.dirty || formemail.touched)">
          <mat-error *ngIf="formemail.errors.required">Staff e-mail is required</mat-error>
          <mat-error *ngIf="formemail.errors.email">Please enter correct email format</mat-error>
        </div>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>Status</label>
        <mat-form-field class="form-field">
          <mat-select name="staff_status" [(ngModel)]="data.status_id" required #formstatus="ngModel">
            <mat-option hidden value="" disabled selected>Pick Status</mat-option>
            <mat-option value=1>Active</mat-option>
            <mat-option value=2>Suspend</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-input-error" *ngIf="formstatus.invalid && (formstatus.dirty || formstatus.touched)">
          <mat-error *ngIf="formstatus.errors.required">Staff status is required</mat-error>
        </div>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>Unit</label>
        <mat-form-field class="form-field">
          <input matInput name="staff_unit" [(ngModel)]="data.unit">
        </mat-form-field>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>Division</label>
        <mat-form-field class="form-field">
          <input matInput name="staff_division" [(ngModel)]="data.division">
        </mat-form-field>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>District</label>
        <mat-form-field class="form-field">
          <input type="text" placeholder="" matInput [formControl]="districtControl" [matAutocomplete]="auto"
            [(ngModel)]="data.district">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of districtOptions | async" value={{option}}
              (click)="selectDistrict(option)">
              {{option}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>Group</label>
        <mat-form-field class="form-field">
          <mat-select name="staff_group" [(ngModel)]="data.group_id" required #formgroup="ngModel">
            <mat-option hidden value="" disabled selected>Pick Group</mat-option>
            <mat-option *ngFor="let data of group_list" value={{data.group_id}}>{{data.group_name}}
              {{data.group_level}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-input-error" *ngIf="formgroup.invalid && (formgroup.dirty || formgroup.touched)">
          <mat-error *ngIf="formgroup.errors.required">Staff group is required</mat-error>
        </div>
      </div>
    </div>

    <div class="dialog-action">
      <button class="button-rounded button-rounded--orange" mat-button [mat-dialog-close]="data"
        [disabled]="userform.invalid">SAVE</button>
      <button class="button-rounded button-rounded--orange m-l-15" mat-button (click)="cancelClicked()">CANCEL</button>
    </div>
  </form>
</div>
