<div class="panel-action">
  <button class="button-circle button-circle--orange" title="Create User" (click)="addUser()"><i class="fa fa-plus"
      aria-hidden="true"></i></button>
  <span>Add User</span>
  <button class="button-circle button-circle--orange" title="Delete User" (click)="deleteUser()"><i class="fa fa-minus"
      aria-hidden="true"></i></button>
  <span>Delete User</span>
  <button class="button-circle button-circle--orange" title="Edit User" (click)="editUser()"><i
      class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
  <span>Edit User</span>

  <div class="filter filter-dropdown" *ngIf="divisionSelect">
    <span><i><b>Division:</b></i></span>
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="group_staff" (selectionChange)="selectGroup()">
        <mat-option *ngFor="let group of group_list" value={{group.group_id}}>{{group.group_name}}
          {{group.group_level}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter filter-search">
    <mat-form-field appearance="outline">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <i class="fa fa-search fa-lg"></i>
    </mat-form-field>
  </div>
</div>

<div class="panel-table">
  <!-- <mat-spinner class="progress-spinner" *ngIf="progressSpinner"></mat-spinner> -->
  <table mat-table id="userTable" [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="staff_name"
    matSortDirection="asc">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header></th>
      <td mat-cell *matCellDef="let user" (click)="$event.stopPropagation()">
        <input type="checkbox" (change)="checkedUser($event, user)" value="[i]">
      </td>
    </ng-container>
    <ng-container matColumnDef="staff_name">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.staff_name}} </td>
    </ng-container>
    <ng-container matColumnDef="group_id">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Group </th>
      <td mat-cell *matCellDef="let user"> {{user.group_name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> E-mail </th>
      <td mat-cell *matCellDef="let user"> {{user.email | lowercase}} </td>
    </ng-container>
    <ng-container matColumnDef="status_id">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let user"> {{id2Status(user.status_id)}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let user; let row" (click)="$event.stopPropagation()"><button mat-raised-button
          class="button-rounded button-rounded--orange button-rounded--small"
          (click)="changeStatus(row)">{{id2StatusAlt(user.status_id)}}</button></td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let data; let row; let i = dataIndex" [attr.colspan]="columnsToDisplay.length"
        style="text-align: center;">
        <div class="data-detail" [@detailExpand]="data == expandedData ? 'expanded' : 'collapsed'">
          <div>
            <div class="description">Staff ID: {{data.staff_id}}</div>
            <div class="description">Zone: {{data.district_name}}</div>
            <div class="description">Last Login: {{data.last_login}}</div>
            <div class="staffaccess" hidden>
              <div class="description">Privilege Access: {{data.staff_page}}</div>
              <button mat-raised-button class="btn" (click)="addAccess(row)">Add</button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let data; columns: columnsToDisplay;" class="data-row"
      [class.expanded-row]="expandedData === data" (click)="expandedData = expandedData === data ? null : data">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
