.map-container{
  width: calc(100% - 135px);
  padding-bottom: 34%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  // border: 1px solid black;
  @media (min-width: 992px){
    width: calc(100% - 290px);
  }
}

#wmap{
  position: absolute;
  bottom: 0;
}