<div class="content-top content-margin">
  <app-sidebar></app-sidebar>
  <div class="content-push--right">
    <app-navpanel [shape_id_data]="shape_id_data"></app-navpanel>
    <div class="map-container">
      <div id="wmap" #mapHolder></div>
    </div>
    <app-statuspanel [shape_id_data]="shape_id_data" [total_network_element]="total_zone"></app-statuspanel>
  </div>
</div>
