section{
  background-image: url('../../assets/images/dylia_landing.png');
  background-size: 100%;
  min-height: 100vh;
}

.gradient{
  min-height: 100vh;
  background-image: url('../../assets/images/gradient.png');
  opacity: 0.9;

  &-pull{

    @media (min-width: 992px){
      background: rgba(1,19,101, 0.5);
      min-height: 100vh;
      z-index: -1;
      position: absolute;
      top: 0;
      width: 100%;;
    }

    &.active{
      @media (min-width: 992px){
        animation: pulse 0.5s ease-in;
        width: 100%;
        position: absolute;
        left: -50%;
      }
    }
  }

  &:after{
    position: absolute;
    top: 0;
    content: '';
    background: #011365;
  }
}

.img-pull{
  &--right{
    width: 170px;
    position: absolute;
    top: 20px;
    right: 20px;
  
    @media (min-width: 992px){
      width: 330px;
    }
  }

  &--center{
    width: 330px;
    margin: 170px auto 0;
  }
}

.login{
  &-console{
    text-align: center;

    &.active{  
      img{
        animation: margintop 0.5s ease-in;
        margin-top: 120px;
        width: 220px;
      }
    }

    .title{
      color: white;
      font-size: 16px;
      @media (min-width: 992px){
        font-size: 24px;
      }
    }
  }
}

.form-signin {
  max-width: 375px;
  margin: 65px auto 0px;
  text-align: center;
  
  input{
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 15px;
    &:focus{
      outline: transparent;
    }
  }

  button{
    margin-bottom: 15px;
  }
}

.footer{
  padding: 45px 0 15px;
  text-align: center;

  @media (min-width: 992px){
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 0;
  }
}

@keyframes margintop {
  0% {
    margin-top: 170px;
    width: 330px;
  }
  100% {
    margin-top: 120px;
    width: 220px;
  }
}

@keyframes pulse {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}