<section>

  <div class="gradient">
    <div class="gradient-pull" [class.active]="isActive"></div>
    <img class="img-pull--right" src="assets/images/TM_tagline_w.png" alt="Life Made Easier with TM">

    <div class="login-console" [class.active]="isActive">
      <img class="img-pull--center" src="assets/images/dylia_navbrand.png" alt="DyLIA">
      <h1 class="title">Dynamic Line Access Management System</h1>
      <button (click)="enterCreds();" class="button-rounded button-rounded--padded" [hidden]="!isHidden">ENTER</button>
    </div>

    <form class="form-signin" [hidden]="isHidden">
      <input [(ngModel)]="credentials.username" type="text" name="username" placeholder="Staff ID" />
      <input [(ngModel)]="credentials.password" type="password" name="password" placeholder="Password" />
      <button class="button-rounded button-rounded--padded" type="submit" (click)="tryLoginOip()">LOGIN</button>
      <p class="text-white my-0">
        <small><i>Please login using Staff ID & <strong>GEMS</strong>password</i></small>
      </p>
      <div class="err-msg m-t-5">{{errMsg}}</div>
    </form>
    <div class="footer text-white">
      <p class="my-0">
        <small>Dynamic Line Access Management Portal System innovation by TM R&D. 2018 Copyright &copy; All rights
          reserved.</small>
      </p>
    </div>

  </div>

</section>
