<div class="content-top">
  <div class="container m-t-15 m-b-15">
    <div class="menu-bar">
      <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['user']">USER MANAGEMENT</button>
      <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['poller']"
        title="Manage Poller">POLLER
        MANAGEMENT</button>
      <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['threshold']"
        title="Manage Threshold">THRESHOLD
        MANAGEMENT</button>
      <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['about']"
        title="About">ABOUT</button>
      <!-- <a class="help-button" href="javascript:void(0);" (click)="onClickMe($event)"><i class="fa fa-lightbulb-o"
          aria-hidden="true"></i></a> -->
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
