.menu-bar{
  margin: 15px 0;
  background-color: #D9D9D9;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 5px 10px -5px grey;

  button{    
    color: #7a6a6a;
    font-weight: bold;
  
    &.active-link{
      color: black;
    }
    
    &:not(:first-child){
      border-left: 1px solid black;
    }
  }  
}
