<h1 mat-dialog-title>{{data.alertTitle}}</h1>
<div mat-dialog-content>
  <div>
    <span>{{data.alertNotice}}</span>
  </div>
  <div class="dialog-action">
    <button class="button-rounded button-rounded--orange" *ngIf="data.confirmButton"
      [mat-dialog-close]="data">CONFIRM</button>
    <button class="button-rounded button-rounded--orange m-l-15" (click)="closedialog()">CLOSE</button>
  </div>
</div>
