<div class="content-item">

  <!-- <div>
      <mat-form-field id="filter" appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <i id="glass" class="fa fa-search fa-lg"></i>
    </div> -->

  <div class="list list-group">
    <div class="panel-table">

      <table mat-table [dataSource]="dataSource" matSort matSortActive="group_name" matSortDirection="asc">
        <ng-container matColumnDef="group_name">
          <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header><b>Group Name</b></th>
          <td mat-cell *matCellDef="let group" (click)="onSelect(group)"> {{group.group_name}} {{group.group_level}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsGroup" [ngClass]="{tableHead: true}"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsGroup;" (click)="selectedGroup = row" class="data-row"
          [ngClass]="{ 'selected': row === selectedGroup }"></tr>
      </table>
      <mat-paginator style="position:sticky;" [pageSize]="6" [hidePageSize]="true"></mat-paginator>
    </div>

    <span [class.black]="labelLanding"><strong>Landing Page</strong></span>
    <mat-form-field id="defaultPage" appearance="outline">
      <mat-select placeholder={{groupDefault}} [(ngModel)]="defaultpage" (selectionChange)="submitDefPg()"
        [disabled]="disableLandingPage.value">
        <mat-option hidden value="" disabled selected>Pick Group</mat-option>
        <mat-option *ngFor="let data of dataSource2" value={{data.page_desc}}>{{data.page_desc}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="list list-action">
    <div class="multiselect-table">
      <table mat-table [dataSource]="accessibleTable">
        <ng-container matColumnDef="access_pages">
          <th mat-header-cell *matHeaderCellDef class="tableHead"><strong>Accessible Pages</strong></th>
          <td mat-cell *matCellDef="let page; let i = index; let row" (click)="selectPages(row)">
            {{page.page_desc}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsAccess"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsAccess;" (click)="selectedPage = row"
          class="data-row multiselect-row" [ngClass]="{ 'selected': row === selectedPage }"></tr>
      </table>
    </div>

    <div class="multiselect-control">
      <button type="button" (click)="delAllLeft()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
      <button type="button" (click)="deleteLeft()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
      <button type="button" (click)="deleteRight()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
      <button type="button" (click)="delAllRight()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
      <button type="submit" (click)="submitAccess()"><strong>SAVE</strong></button>
    </div>

    <div class="multiselect-table">
      <table mat-table [dataSource]="availableTable">
        <ng-container matColumnDef="all_pages">
          <th mat-header-cell *matHeaderCellDef class="tableHead"><strong>Pages</strong></th>
          <td mat-cell *matCellDef="let page; let row" (click)="selectAllPages(row)">
            {{page.page_desc}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsAllPages" [ngClass]="{tableHead: true}"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsAllPages;" (click)="selectedPage = row"
          class="data-row multiselect-row" [ngClass]="{ 'selected': row === selectedPage }"></tr>
      </table>
    </div>
  </div>
</div>
