.content-item {
  display: flex;
  background: #f2f2f2;
  padding: 15px;

  .list{
    table{
      tr{
        &.mat-row{
          height: 40px;
        }
      }

      .data-row td {
        border-left: 1px solid rgba(214, 212, 212, 0.937);
        border-right: 1px solid rgba(214, 212, 212, 0.937);
        font-size: 12px;
      }
    }

    &-group{
      text-align: center;
      span{
        font-size: 14px;
      }

      ::ng-deep .mat-paginator-range-label {
        margin: 0;
      }

      ::ng-deep .mat-form-field-infix {
        padding: 2px 0px 7px 0px;
      }

      ::ng-deep .mat-form-field-outline {
        background: white;
        border-radius: 5px;
      }
    }

    &-action{
      display: flex;
      width: 100%;
      margin-left: 15px;

      .multiselect{
        &-table{
          width: 100%;
          border: 1px solid #f2f2f2;
          background: white;

          table{
            width: 100%;

            th.mat-header-cell {
              background: black;
              color: white;
              border-top: 1px solid black;
              text-align: center;
            }

            tr.mat-header-row {
              height: 40px;
            }

            tr.mat-row {
              height: 20px;

              &:first-child{
                td.mat-cell {
                  padding: 10px 5px 5px;
                } 
              }
            }

            .data-row td {
              padding: 0 5px;
              border: 0;
              text-align: center;
            }            
          }
        }

        &-control{
          margin: 0 15px;
          text-align: center;

          button{
            display: block;
            border: 1px solid #b3b0b0;
            border-radius: 20px;
            width: 60px;

            &:not(:first-child){
              margin-top: 5px;
            }

            i{
              font-size: 28px;
            }

            &[type="submit"]{
              padding: 8px 0;
              color: white;
              background: black;
              border: 0;
            }
          }
        }
      }
    }
  }
}

.mat-paginator {
  background: #f2f2f2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.selected {
  background: rgb(179, 176, 176);
  outline: none;
}

// .help-button{
//   float: right;
//   margin-left: 10px;
//   margin-top: 13px;
//   color: black;
// }