<aside>
  <div class="panel-container">
    <div class="content content-left">
      <div class="image">
        <img src={{imagePath}} alt="{{location_name}}">
      </div>
      <div class="text">
        <p class="m-b-0">{{location_name}}</p>
        <small>Coordinate : {{coordinate}}</small>
        <small>Highest : {{percentage}}%</small>
        <small>Status : {{state_status}}</small>
        <small>Last Update : 07 JAN 19 : 02.30 PM</small>
      </div>
    </div>
    <div class="content content-right">
      <div class="box box-knob box-knob-grey">
        <div class="round" id="map-panel-2">
          <p>{{total_network_element}}</p>
        </div>
        <span>TOTAL {{network_element}}</span>
      </div>
      <div class="box box-knob box-knob-light">
        <div class="knob-container" id="map-panel-3">
          <div ui-knob [options]="knOptions.failure" [value]="knValue.failure"></div>
        </div>
        <span>FAILURE</span>
      </div>
      <div class="box box-knob box-knob-light">
        <div class="knob-container" id="map-panel-4">
          <div ui-knob [options]="knOptions.unstable" [value]="knValue.unstable"></div>
        </div>
        <span>UNSTABLE</span>
      </div>
      <div class="box box-knob box-knob-light">
        <div class="knob-container" id="map-panel-5">
          <div ui-knob [options]="knOptions.caution" [value]="knValue.caution"></div>
        </div>
        <span>CAUTION</span>
      </div>
      <div class="box box-knob box-knob-light">
        <div class="knob-container" id="map-panel-6">
          <div ui-knob [options]="knOptions.good" [value]="knValue.good"></div>
        </div>
        <span>GOOD</span>
      </div>
    </div>
  </div>
</aside>
