aside{
  position: absolute;
  // background: #727272;
  bottom: -105px;
  height: 105px;
  width: calc(100% - 135px);
  box-sizing: border-box;
  text-align: center;
  z-index: 9;

  @media (min-width: 992px){
    width: calc(100% - 290px);
  }

  @media (min-width: 1920px){
    // height: 210px;
    bottom: 0;
    height: 0;
    // padding: 15px;
  }

  .panel-container{
    position: relative;
    padding: 7.5px 10px;
    display: flex;
    background: #727272;

    @media (min-width: 992px){
      justify-content: space-evenly;
    }

    @media (min-width: 1920px){
      height: 210px;
      box-sizing: border-box;
      padding: 15px 10px;
    }
  }
  
  &.light{    
    .panel{      
      background: #727272;      
    }    
  }
  .content{
    height: 90px;

    // &-right{
    // }

    &-left{
      height: 90px;
      width: 319px;
      display: flex;

      @media (min-width: 1920px){
        width: 630px;
        height: 180px;
      }

      .image{
        width: calc(100% - 175px);
        padding-right: 10px;
        @media (min-width: 1920px){
          width: 255px;
          padding-right: 30px;
        }
        img{
          max-height: 100%;
          max-width: 100%;
        }
      }

      .text{
        min-width: 175px;
        text-align: left;
        align-self: center;
        font-size: 12px;
        color: white;
        @media (min-width: 1920px){
          width: calc(100% - 255px);
          font-size: 22px;
        }

        small{
          display: block;
          @media (min-width: 1920px){
            font-size: 18px;
          }
        }
      }
    }
  }
  
  .knob-container{
    width: 55px;
    height: 55px;
    @media (min-width: 1920px){
      width: 120px;
      height: 120px;
      margin-top: 15px;
    }
    margin: 0 auto;
  }
  
  .trans{
    transition: all 0.2s ease-in;
  }
  
  .box{
    box-sizing: border-box;
    height: 90px;
    @media (min-width: 1920px){
      height: 180px;
    }
    padding: 5px;
  
    &-knob{
      @extend .trans;
      width: 90px;
      @media (min-width: 1920px){
        width: 180px;
      }
      background: #484848;
      border-radius: 15px;
      margin-left: 5px;
      position: relative;
      float: left;
  
      &.box-knob-black{
        background: #101010;
      }
  
      &.box-knob-grey{
        background: #8f8f8f;
        p{
          color: black;
        }
        span{
          color: black;
        }
      }
  
      &.box-knob-light{
        background: #d4d4d4;   
        
        p{
          color: black;
        }
  
        span{
          color: black;
        }
      }
  
      .round{
        width: 55px;
        height: 55px;
        @media (min-width: 1920px){
          width: 120px;
          height: 120px;
          margin-top: 15px;
        }      
        border-radius: 50%;
        margin: 0 auto;
        border: 2px solid #ff6161;
        background: linear-gradient(#f25959, #812f2f);
        position: relative;      
  
        p{
          color: white;
          font: bold 18px Arial;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);

          @media (min-width: 1920px){
            font-size: 30px;
            top: 10px;
          }
        }
      }
  
      span{
        color: white;
        font-size: 8px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-weight: bold;
        @media (min-width: 1920px){
          font-size: 14px;
        }    
      }
    }
  

  }
  
  // .help-button{
  //   position: absolute;
  //   right: 20;
  //   bottom: 0;
  //   color: white;
  // }
  
}