<h1 mat-dialog-title>{{data.addEditGroup}} Group</h1>
<div mat-dialog-content>
  <form novalidate #groupform="ngForm">
    <div class="form-detail">
      <div class="form-input">
        <label>Group Name</label>
        <mat-form-field class="form-field">
          <input matInput name="group_name" [(ngModel)]="data.group_name" pattern="[a-zA-Z0-9 ]*" required
            #formname="ngModel">
        </mat-form-field>
        <div class="form-input-error" *ngIf="formname.invalid && (formname.dirty || formname.touched)">
          <mat-error *ngIf="formname.errors.required">Group name is required</mat-error>
          <mat-error *ngIf="formname.errors.pattern">Special character is not allowed</mat-error>
        </div>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>Group Level</label>
        <mat-form-field class="form-field">
          <input matInput name="group_level" [(ngModel)]="data.group_level">
        </mat-form-field>
      </div>
    </div>

    <div class="form-detail">
      <div class="form-input">
        <label>Group Description</label>
        <mat-form-field class="form-field">
          <input matInput name="group_desc" [(ngModel)]="data.group_desc">
        </mat-form-field>
      </div>
    </div>

    <div class="form-detail" *ngIf="!data.hideLandingPage">
      <div class="form-input">
        <label>Landing Page</label>
        <mat-form-field class="form-field">
          <mat-select name="group_page" [(ngModel)]="data.default_page" required #formpage="ngModel">
            <mat-option hidden value="" disabled selected>Pick Landing Page</mat-option>
            <mat-option *ngFor="let data of access_pages" value={{data.page_desc}}>{{data.page_desc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-input-error" *ngIf="formpage.invalid && (formpage.dirty || formpage.touched)">
          <mat-error *ngIf="formpage.errors.required">Landing page is required</mat-error>
        </div>
      </div>
    </div>

    <div class="dialog-action">
      <button class="button-rounded button-rounded--orange" mat-button [mat-dialog-close]="data"
        [disabled]="groupform.invalid">SAVE</button>
      <button class="button-rounded button-rounded--orange m-l-15" mat-button (click)="cancelClicked()">CANCEL</button>
    </div>
  </form>
</div>
