<div class="panel-action">
  <button class="button-circle button-circle--orange" title="Create Group" (click)="addGroup()"><i class="fa fa-plus"
      aria-hidden="true"></i></button>
  <span>Add Group</span>
  <button class="button-circle button-circle--orange" title="Delete Group" (click)="deleteGroup()"><i
      class="fa fa-minus" aria-hidden="true"></i></button>
  <span>Delete Group</span>
  <button class="button-circle button-circle--orange" title="Edit Group" (click)="editGroup()"><i
      class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
  <span>Edit Group</span>

  <div class="filter filter-search">
    <mat-form-field appearance="outline">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <i class="fa fa-search fa-lg"></i>
    </mat-form-field>
  </div>
</div>

<div class="panel-table">
  <table mat-table id="grouptable" [dataSource]="dataSource" matSort matSortActive="group_name" matSortDirection="asc">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header></th>
      <td mat-cell *matCellDef="let group">
        <input type="checkbox" (change)="checkedGroup($event, group)" value="[i]">
      </td>
    </ng-container>
    <ng-container matColumnDef="group_name">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Group Name </th>
      <td mat-cell *matCellDef="let group"> {{group.group_name}} </td>
    </ng-container>
    <ng-container matColumnDef="group_level">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Group Level </th>
      <td mat-cell *matCellDef="let group"> {{group.group_level}} </td>
    </ng-container>
    <ng-container matColumnDef="groupdesc">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Group Description </th>
      <td mat-cell *matCellDef="let group"> {{group.group_desc}} </td>
    </ng-container>
    <ng-container matColumnDef="default_page">
      <th mat-header-cell *matHeaderCellDef class="tableHead" mat-sort-header> Landing Page </th>
      <td mat-cell *matCellDef="let group"> {{group.default_page}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsTable" [ngClass]="{tableHead: true}"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: columnsTable;" [ngClass]="{gray: even}" class="data-row">
    </tr>
  </table>
  <mat-paginator style="position:sticky;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
