<div class="content-top content-margin">
  <app-sidebar></app-sidebar>
  <div class="content-push--right">
    <!-- <app-navpanel [shape_id_data]="shape_id_data"></app-navpanel> -->
    <div class="map-container">
      <div id="petamalaysia" #mapHolder></div>
    </div>
    <app-statuspanel></app-statuspanel>
  </div>
</div>
