aside{
  background: #484848;
  padding: 10px;;
  position: absolute;
  left: -165px;
  top: 0;
  // min-height: 100vh;
  // height: calc(100vh - 75px);
  min-height: 460px;
  z-index: 1008;
  width: 100%;
  max-width: 300px;
  transition: left .3s cubic-bezier(0.820, 0.085, 0.395, 0.895);
  box-shadow: 0px -5px 5px 0px black;
  box-sizing: border-box;

  @media (min-width: 992px){
    left: -300px;
    max-width: 590px;
    min-height: calc(100vh - 145px);
  }

  // &.with-table{
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  // }

  .switch{
    float: right;

    button{
      font-size: 12px;
    }
  }

  &.light{
    background: #d9d9d9;

    .services-status{
      li{
        color: black;
      }
    }
  }

  &.draw-in{
    left: 0;

    .switch{
      float: none;
      text-align: center;
    }

    .nav{
      text-align: center;
      margin-left: 0;
    }

    .tab-content{
      float: none;
      width: 100%;

      .tab-pane{
        width: 100%;
      }
    }

    .carouselbox{
      height: calc(100% - 25px);

      .buttons{
        display: none;
      }

      ul{      
        li{
          &.current{
            display: inline-block;
            &:not(:first-child){
              margin-left: 10px;
            }
          }
        }    
      }
    }
  }

  .carouselbox{
    // font-size: 12px;
    height: calc(100% - 45px);
  
    .buttons{      
      display: block;
      // width: 140px;
      border-radius: 30px;
      box-shadow: 0 0 5px 0 black;
      padding: 5px 0;
      margin: 5px;
      text-align: center;
      border: 1px solid #94c169;
      background-image: linear-gradient(rgba(0,0,0,0.6), #8bb462);
  
      button{
        border: 0;
        background: none;
        color: white;
      }
  
    }

    .content-loop{
      p{
        width: 120px;
        display: inline-block;
        // margin-bottom: 0;
      }

      ul{
        float: right;        
        li{
          p{
            width: 55px;
            text-align: right;
            // margin-bottom: 0;
          }
          i{
            margin-left: 10px;
            
            &.green{color:#8bb462}
            &.yellow{color:#f7d64b}
            &.red{color:#ff5858}
            &.black{color:#5c5c5c}
          }
        }
      }
    }
  
    ul{      
      display: inline-block;
      margin-bottom: 0;  
  
      &.header{
        width: 170px;
        color: white;
      }      
  
      li{
        display: none;
        &.current{
          display: block;
        }
      }  
    }  
  }

  .nav{
    // text-align: right;
    margin-left: 330px;
    &-pills> li {
      display: inline-block;
      float: none;

      & > a {
        color: black;
        opacity: 0.25;
        font-weight: bold;
        font-size: 16px;
        padding: 5px 15px;
      }

      &.active > a {
        background: none;
        color: black;
        opacity: 1;
      }

      &:first-child{
        border-right: 1px solid #757575;
      }
    }    
  }

  .tab-content{
    margin-top: 10px;
    float: right;
    overflow: hidden;
    width: 230px;

    // .tab-pane{
    //   // width: 140px;
    // }
  }

  .drawer-handle{
    color: #fd7e00;
    background: #484848;
    font-size: 10px;
    font-weight: bold;
    width: 60px;
    position: absolute;
    right: -50px;
    text-align: center;
    padding: 5px;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &.light{
      background: #d9d9d9;
    }

    &:hover{      
      cursor: pointer;
    }

    .fa{
      margin-left: 5px;
    }
  }
  
  .help-button{
    position: absolute;
    right:20;
    bottom:5;
    color: black;
  }
}

