<aside class="light" [class.draw-in]="drawIn">
  <!-- <ul class="nav nav-pills" id="quickbar-1">
    <li class="active"><a data-toggle="tab" href="#network">Network</a></li>
    <li><a data-toggle="tab" href="#service">Service</a></li>
  </ul> -->
  <div class="switch">
    <!-- <button>Network</button>
    <button>Service</button> -->
  </div>


  <!-- <div class="tab-content" id="quickbar-2">
    <div id="network" class="tab-pane fade in active" role="tabpanel">
      <div class="carouselbox">
        <div class="buttons m-b-15">
          <button class="prev"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
          <ul class="header list-unstyled">
            <li class="current">Good</li>
            <li>Caution</li>
            <li>Unstable</li>
            <li>Failure</li>
          </ul>
          <button class="next"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
        </div>
        <div class="content-loop" data-simplebar id="quickbar-3">
          <div *ngFor="let item of ArrService">
            <p>{{item.state_name}}</p>
            <ul class="list-unstyled">
              <li class="current">
                <p>{{item.good}} %</p> <i class="fa fa-caret-up green" aria-hidden="true"></i>
              </li>
              <li>
                <p>{{item.caution}} %</p> <i class="fa fa-caret-down yellow" aria-hidden="true"></i>
              </li>
              <li>
                <p>{{item.stable}} % </p><i class="fa fa-caret-down red" aria-hidden="true"></i>
              </li>
              <li>
                <p>{{item.failure}} %</p> <i class="fa fa-caret-down black" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="service" class="tab-pane fade" role="tabpanel">
    </div>
  </div> -->

  <div class="drawer-handle light" (click)="drawerIn()">
    <span>MORE <i class="fa fa-caret-down" aria-hidden="true"></i></span>
  </div>

  <!-- <a class="help-button" href="javascript:void(0);" (click)="onClickMe($event)"><i class="fa fa-lightbulb-o"
      aria-hidden="true"></i></a> -->

</aside>
