<div class="panel">
  <div class="panel-header">
    <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['scheduler']"
      title="Scheduler">SCHEDULER</button>
    <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['poller']"
      title="Poller Status">POLLER
      STATUS</button>
    <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['health']"
      title="System Health">HEALTH</button>
    <button class="button-unstyled" routerLinkActive="active-link" [routerLink]="['trail']" title="Log Trail">LOG
      TRAIL</button>
  </div>
  <div class="panel-content">
    <router-outlet></router-outlet>
  </div>
</div>
