$fa-font-path: "../node_modules/font-awesome/fonts/" !default;

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./sass/global";
@import "./sass/common";
@import "./sass/buttons";
@import "./sass/tables";
@import "./sass/map";
@import "./sass/panel";
@import "./sass/infopanel";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */

#text{
  font-size: 18px;
  transform: translate(50%, 60%);

  @media (min-width: 1920px){
    font-size: 30px;
    transform: translate(50%, 60%);
  }
}



