// .select-rounded {
//   width: 100%;
//   max-width: 125px;
//   background: black;
//   border: 1px solid white;
//   color: white;
//   border-radius: 30px;

//   &-light {
//     background: transparent;
//     color: black;
//     border: 1px solid black;
//   }
// }

// .content--flex{
//   @media (min-width: 1200px){
//     display: flex;
//   }
// }

// .equipment-info{
//   display: flex;

//   @media (min-width: 1200px){
//     display: block;
//     width: 380px;
//   }

//   &--list{
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
  
//     li {
//       width: 50%;
//       color: white;
//       margin-bottom: 10px;
//       font-size: 14px;
//       line-height: 1.4;
  
//       span {
//         display: block;
//       }
//     }
  
//     &-lineTest {  
//       li {
//         width: 25%;
//       }
  
//     }
//   }
// }

// .fault-illustration{

//   @media (min-width: 1200px){
//     width: calc(100% - 380px);
//   }

//   &--content {
//     position: relative;
//     padding: 0 15px;
//     margin-bottom: 20px;
//     // @extend .m-b-20;
  
//     img {
//       position: absolute;
//       top: 0;
//       left: 50%;
//       transform: translateX(-50%);
//     }
//   }
// }

// .fault-visual {
//   div {
//     display: inline-block;
//   }

//   .image {
//     img {
//       margin: 0 10px;
//     }
//   }

//   .red-line {
//     width: calc(50% - 95px);
//     height: 2px;
//     // background: red;
//     background: #FD7E00;
//     position: relative;

//     // &-wo_cab {
//     //   width: calc(100% - 130px);
//     // }

//     .fault-count {
//       color: white;
//       position: absolute;
//       top: -45px;
//       left: 50%;
//       transform: translateX(-50%);
//       // border: 2px solid red;
//       border: 2px solid #FD7E00;
//       height: 30px;
//       width: 30px;
//       border-radius: 50%;
//       text-align: center;
//       line-height: 1.8;

//       &:after {
//         content: '';
//         // border: 1px solid red;
//         border: 1px solid #FD7E00;
//         position: absolute;
//         height: 10px;
//         top: 32px;
//         left: 50%;
//         transform: translateX(-50%);
//       }

//       &:hover {
//         cursor: pointer;
//       }
//     }
//   }
// }

// .fault-check {
//   margin: 15px;
//   display: inline-block;
//   width: 125px;

//   &-update {
//     width: calc(100% - 185px);
//     span {
//       display: block;
//       &:last-child {
//         margin-right: 60px;
//       }
//     }
//   }

//   &-update-cabinet {
//     width: calc(100% - 40px);
//     span {
//       display: block;

//       &:last-child {
//         margin-right: 0px;
//       }
//     }
//   }

//   // &-lineTest {
//   //   vertical-align: top;
//   //   width: 540px;
//   //   // @extend .text-small;

//   //   span {
//   //     display: block;
//   //   }
//   // }  
// }

// .modal {

//   text-align: center;
//   padding: 0 !important;

//   &:before {
//     content: '';
//     display: inline-block;
//     height: 100%;
//     vertical-align: middle;
//     margin-right: -4px;
//   }

//   &-dialog {
//     display: inline-block;
//     text-align: left;
//     vertical-align: middle;
//   }

//   &-dialog-alert {
//     display: inline-block;
//     text-align: center;
//     vertical-align: middle;

//     .modal-header-alert {
//       border-top-left-radius: 5px;
//       border-top-right-radius: 5px;
//       height: 30px;
//       font-weight: bold;
//       background-color: #c0630e;
//     }
//   }

//   &-full {
//     .modal-table {
//       // @extend .text-center;
//     }

//     @media(min-width: 500px) {
//       width: 100%;
//       max-width: 1000px;

//       .modal-table {
//         width: 100%;
//         display: inline-block;
//         vertical-align: top;
//       }
//     }
//   }

//   &-dark {
//     tbody {
//       tr {
//         &:last-child {
//           td {
//             &:first-child {
//               border-bottom-left-radius: 20px;
//             }

//             &:last-child {
//               border-bottom-right-radius: 20px;
//             }
//           }
//         }
//       }
//     }
//   }

//   &-yellow {
//     background: linear-gradient(#f7d64c, #907d2c);
//     border-top-left-radius: 15px;
//     border-bottom-left-radius: 20px;

//     tbody {
//       tr {
//         &:last-child {
//           td {
//             &:first-child {
//               border-bottom-left-radius: 20px;
//             }
//           }
//         }
//       }
//     }
//   }

//   &-red {
//     background: linear-gradient(#f15858, #c84a4a);
//     border-top-right-radius: 15px;
//     border-bottom-right-radius: 20px;

//     tbody {
//       tr {
//         &:last-child {
//           td {
//             &:last-child {
//               border-bottom-right-radius: 20px;
//             }
//           }
//         }
//       }
//     }
//   }

//   &-content.modal-content-transparent {
//     background: transparent;
//     box-shadow: none;
//     border: 0;

//     .modal-header {
//       border-bottom: 0;

//       .close {
//         margin-top: -2px;
//         color: black;
//         background: white;
//         border-radius: 10px;
//         width: 20px;
//       }
//     }
//   }

//   &-fault-tabs {
//     .mat-tab-labels {
//       // @extend .text-bold;
//       display: flex;
//       justify-content: center;
//     }

//     .mat-tab-label-container {
//       border-top-left-radius: 20px;
//       border-top-right-radius: 20px;
//       background: black;

//       .mat-tab-label {
//         // font-weight: bold;
//         color: gray;
//         background-color: black;
//         opacity: 1;
//         border-right: 1px solid gray;
      
//         &-active {
//           color: white;
//         }
  
//         &:last-child {
//           border-right: transparent;
//         }
      
//       }

//       .mat-tab-label-content {
//         // font-size: 16px;
//         font-weight: bold;
//       }
//     }

//     .mat-tab-group {
//       box-shadow: 0px 0px 15px 1px white;
//       border-radius: 20px;
//     }

//     .mat-tab-group.mat-primary .mat-ink-bar,
//     .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//       background-color: black;
//     }
//   }

// }